body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  &:hover{
      outline: none;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  display:none;
}

input::-webkit-input-placeholder {
  color: rgb(220, 220, 220);
  font-size: 14px;
}

// 去除chrome 黄色背景
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
